#portfolio-gallery li {
    float: left !important;
    margin: 12px;
    max-width: 200px;
}

#portfolio-gallery img {
    max-width: 100%;
}


/**
    CLEARFIX HACK
*/

.clearfix {
    overflow: auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}