@import "variables";
.wpcf7-form-control {
    width: 100%;
    border: 1px solid var(--secondary-color-darken);
    background-color: var(--secondary-color-lighter);
    padding: 5px;
    margin-bottom: -1px;
    color: var(--secondary-color-darkest);
}

.form-left,
.form-right {
    @extend .clearfix;
    width: 50%;
    float: left;
    padding-bottom: 10px;
}

.form-submit {
    @extend .clearfix;
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.wpcf7-form {
    p {
        margin: 0;
    }
    textarea {
        height: 103px;
        margin-left: -1px;
    }
    .wpcf7-submit {
        width: auto;
        float: right;
        color: var(--main-color);
        &:hover {
            background-color: var(--secondary-color-darker);
            color: var(--main-color-darker);
        }
    }
    span.wpcf7-not-valid-tip {
        position: absolute;
    }
}