@import "variables";
.widget-area {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
    border-right: 1px solid darken($secondary-color, 20);

    ul {
        font-size: 0.8em;
        font-weight: normal;
        padding: 0;
    }
    li {
        list-style: none;
    }
    &>div {
        padding: 15px;
        margin: 0 auto;
    }
    &:last-child {
        border-right: none;
    }
}

@media screen and (max-width:768px) {
    .widget-area {
        border-right: none;
    }
}